.main-container {
    /*   height: auto;
    width: auto; */
    display: flex;
    flex-direction: column;
  }
  
  .header-nav-img {
    background-color: orange;
    /*   height: auto;
    width: auto; */
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  header h2 {
    margin: 20px;
  }
  header div {
    display: flex;
    padding: 20px;
  }
  header div i {
    display: flex;
    padding: 10px;
  }
  .navbar {
    background-color: blue;
    display: flex;
    justify-content: space-between;
  }
  .navbar div img{height: 70px; width: auto; padding: auto; margin: 20px;}
  
  .image {
    background-image: url(assets/headerimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu ul {display: flex; justify-content: space-between;list-style-type: none;  font-size: 30px;}
  .menu ul li{padding:20px;color: azure;}

  .welcome-message{ background-color: black; opacity: 50%; border-radius: 5%; padding: 20px;

  }
  .welcome-message h1{color: azure;}
  .welcome-message h3{color:azure; align-items: center; text-align: center;}
  .latest-post
  {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    padding-left: 10%;
    padding-right: 20%;
  }
  
  .article-index{display: flex; justify-content: space-between;
}
.article
{
  height:auto;
  width: 700px;
  background-color: rgba(255, 255,255, 0.71);
  border-radius: 10px;
  box-shadow: -5px 5px 10px 5px rgba(145, 145, 145, 0.66);
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  
  }
  .paragraph-button h3{margin-top: 0;}
  .article-1image img
  {height: 100px;
  width: 150px;
  opacity: 100%;
  }
  .paragraph-button{
    display: flex;
    flex-direction: column;
      }
  .paragraph-button button
  {color: azure;
     background-color: #C85A3D;
      border-radius: 5px;
      justify-content: baseline;
      width: 100px;
      height: 40px;
      margin-bottom: 10px;
      margin-left: 390px;
      box-shadow: -5px 5px 10px 5px rgba(145, 145, 145, 0.66);
     }
footer{height:100px; width: 100vw ; margin-left:0;background-color: black; color: azure;  align-content: center; text-align: center; }
.index{margin-left: 10px;}
.bycountry{height:auto;
  width: 350px;
  background-color: rgba(237, 233, 1, 0.71);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 50px;}

.bydate{height:auto;
  width: 350;
  background-color: rgba(170, 218, 13, 0.71);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 50px;}

  .recommended-destination
  {
    height: auto;
    padding-left: 10%;
    padding-right: 20%;

  }